body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #0A0A33;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 27px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 15px;

}


.nav-info a, .nav-links a {
  color: #0A0A33;
  text-decoration: none;
  margin: 0 10px;
  padding: 0px 60px 0px 0px;
  font-weight: bold;
}



.nav-links a :hover {
  color: #fff;
  background-color: #333366;

}

.reportar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 100px;
  text-align: left;
  font-size: 27px;
  
}


.report-content {
  display: flex;
   flex-direction: column;
    margin: 0 ;
}

.report-content  h2 {
  color: #0A0A33;
}

.report-button {
  background-color: #0A0A33;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  max-width: 230px;
  height: 50px;
  font-size:17px;
  align-items: center;
}

.report-button:hover {
  background-color: #333366;
}

.report-image {
  border-radius: 0px;
   width: 39%;
    height:auto;
    
    }
