body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #0A0A33;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 27px 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-size: 15px;
}

.nav-info a, .nav-links a {
  color: #0A0A33;
  text-decoration: none;
  margin: 0 10px;
  padding: 0px 60px 0px 0px;
  font-weight: bold;
}

.nav-links a:hover {
  color: #fff;
  background-color: #333366;
}

.reportar {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 50px; 
  gap: 20px; 
  text-align: left;
  height: 100vh; 
  box-sizing: border-box; 
  position: relative; 
}

.report-content {
  flex: 1; 
  max-width: 50%; 
  margin-right: 20px; 
}

.report-content h2 {
  color: #0A0A33;
  font-size: 2.5rem; 
  margin-bottom: 20px;
}

.report-content p {
  font-size: 1.2rem;
  line-height: 1.8; 
  margin-bottom: 30px; 
  word-wrap: break-word; 
}

.report-button {
  padding: 20px 5px; 
  background-color: #2e2a5e; 
  color: white; 
  text-decoration: none; 
  border-radius: 10px; 
  text-align: center;
  font-size: 20px; 
  font-weight: bold; 
  width: 200px;
  transition: background-color 0.5s ease;
  transition: transform 0.5s ease;
}

.report-button:hover {
  transform: scale(1.2,1.2);
  background-color: #ff2600;
}

.report-image {
  position: absolute; 
  top: 0; 
  right: 0; 
  height: 100%; 
  max-width: 50%; 
  object-fit: cover; 
  border-radius: 0; 
}
