.add-story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0b3f;
}

h1{
    color: aliceblue;
}