.add-story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0b3f;
}

h4{
    color: aliceblue;
}

.custom-text-field{
    width: 600px;
}

.form-box{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: #0000;
}